

{% extends 'baseBack.html.twig' %}
{% block body %}
<div class="container">
    <h1>Edit Facture</h1>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            {{ form_start(form, {'attr': {'class': 'my-4'}}) }}
           
            <div class="form-group">
                {{ form_label(form.name, 'Name') }}
                {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.name) }}
            </div>
            <div class="form-group">
                {{ form_label(form.email, 'Email') }}
                {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.email) }}
            </div>
            <div class="form-group">
                {{ form_label(form.address, 'Address') }}
                {{ form_widget(form.address, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.address) }}
            </div>
            <div class="form-group">
                {{ form_label(form.tel, 'Telephone') }}
                {{ form_widget(form.tel, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.tel) }}
            </div>
              <div class="form-group">
                {{ form_label(form.prixtotal, 'prixtotal') }}
                {{ form_widget(form.prixtotal, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.prixtotal) }}
            </div>
            <button type="submit" class="btn btn-primary">Edit</button>
            {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock %}