{% extends 'base1.html.twig' %}

{% block body %}
<div class="container mt-5 mb-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Registration Form</h5>
                </div>
                <div class="card-body">
                    <form method="post">
                        {{ form_start(form) }}
                        
                        <div class="mb-3">
                            {{ form_label(form.datenaissance, 'Date of Birth', {'label_attr': {'class': 'form-label'}}) }}
                            {{ form_widget(form.datenaissance, {'attr': {'class': 'form-control'}}) }}
                        </div>

                        <div class="mb-3">
                            {{ form_label(form.nomuser, 'Last Name', {'label_attr': {'class': 'form-label'}}) }}
                            {{ form_widget(form.nomuser, {'attr': {'class': 'form-control'}}) }}
                        </div>

                        <div class="mb-3">
                            {{ form_label(form.prenomuser, 'First Name', {'label_attr': {'class': 'form-label'}}) }}
                            {{ form_widget(form.prenomuser, {'attr': {'class': 'form-control'}}) }}
                        </div>

                        <div class="mb-3">
                            {{ form_label(form.emailuser, 'Email', {'label_attr': {'class': 'form-label'}}) }}
                            {{ form_widget(form.emailuser, {'attr': {'class': 'form-control'}}) }}
                        </div>

                        <div class="mb-3">
                            {{ form_row(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
                        </div>

                        {{ form_end(form) }}
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
